[
    {rabbit, [
        {loopback_users, []
        },

        %% Log levels (currently just used for connection logging).
        %% One of 'debug', 'info', 'warning', 'error' or 'none', in decreasing
        %% order of verbosity. Defaults to 'info'.
        {log_levels, [{connection, error}, {channel, error}]}
    ]}
].